
.App {
  text-align: center;
  background:  url(./assets/gifs/cowboy.gif) no-repeat center center fixed; 
  background-size: cover;
  min-height: 100vh;
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

.App-link {
  color: red;
}

.copyright{
  color: rgb(255, 255, 255);
}